<%- include('./common/header') %>

<main class="form-signin">
    <form>
        <img class="mb-4" src="/admin/img/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please Log In</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="usernameInput" placeholder="Username" required>
            <label for="usernameInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
            <label for="passwordInput">Password</label>
        </div>
        <div class="form-floating">
            <div class="alert alert-danger d-none" id="alert" role="alert"></div>
        </div>

        <button type="button" class="w-100 btn btn-lg btn-primary" id="loginButton">Login</button>
    </form>
</main>

<%- include('./common/footer') %>